<!DOCTYPE html>
<html>
<head>
  <title>Monologue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="">

  </header>

    <%= yield %>

  <footer>
    <p>
      Monologue. 2019.
    </p>
  </footer>
</body>
</html>
